<div class="d-flex flex-column align-items-center w-25 h-25" >
    <img src="{{product.image}}" alt="{{product.name}}" width="100" height="100">
    <span>{{product.name}}</span>
    <span>${{product.price}}</span>
    <span>Cantidad: {{count}}</span>
    {{!-- <button class="btn btn-primary" id="{{_id}}">Eliminar</button> --}}
</div>