<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="w-75 h-75 d-flex flex-row justify-content-center align-items-center">
        <div class="w-25 h-100 justify-content-center align-items-center">
            <img src="{{photo}}" class="rounded-circle ml-1" alt="profile" width="250" height="250">
        </div>
        <div class="w-25 h-100 d-flex flex-column justify-content-start align-items-center">
            <span>Nombre: {{name}}</span>
            <span>Correo: {{username}}</span>
            <span>Edad: {{age}}</span>
            <span>Dirección: {{direction}}</span>
            <span>Número de telefono: {{phone}}</span>
        </div>
    </div>
</div>